@media only screen and (min-width: 600px) {
  body {
    background-image: url(imgs/school-bg5.jpg);
    background-size: cover;
    display: inline;
  }
}

body {
  font-family: "Comic Sans MS";
}

#game-title {
  background-color: #76CFB8;
  font-weight: bold;
  margin: auto;
  padding: 25px;
  font-size: 28px;
  width: fit-content;
  justify-items: center;
  border-radius: 20px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card {
  margin: auto;
  height: 340px;
  width: 500px;
  background-color: #d6f8e1;
  border-radius: 50px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card h3 {
  font-size: 24px;
  text-align: center;
  padding-top: 20px;
}
.question-box {
  text-align: center;
  margin: auto;
}
#picCard, #doll {
  margin: auto;
  width: 96px;
  height:96px;
}

#picCard{
  border: 2px #76CFB8 solid;
  box-shadow: 0px 15px 20px rgba(221, 255, 242, 0.4);
  border-radius: 25px;
}

#showquestions {
  background-color: white;
  padding: 2px 100px 2px 100px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  border-radius: 1pc;

}

#inputAnswer {
  background-color: white;
  padding: 10px 20px 10px 20px;
  border: none;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.choicebtn {
  display: flex;
  justify-content: center;
}

#food, #toys{
  padding: 10px 30px 10px 30px;
  background-color: #F0FCF1;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-family: "Comic Sans MS";
  font-weight: 400;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}
#appliance {
  padding: 10px 15px 10px 15px;
  background-color: #F0FCF1;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-family: "Comic Sans MS";
  font-weight: 400;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

#food {
  margin-left: 5px;
}

#toys {
  margin-left: 40px;
}
#appliance {
  margin-left: 40px;
}

#food:hover , #toys:hover, #appliance:hover, #reset:hover {
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: darkgreen;
  transform: translateY(-1px);
}
.resetGame {
  display: flex;
  justify-content: center;
}
#reset{
  padding: 8px 20px 8px 20px;
  background-color: #d6f8d1;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-family: "Comic Sans MS";
  font-weight: 400;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

#backhomepage {
  padding: 20px 30px 20px 30px;
  background-color: #76CFB8;
  border: none;
  border-radius: 10px;
  margin:auto;
  font-size: larger;
  font-family: "Comic Sans MS";
  font-weight: bold;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

#backhomepage:hover {
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: darkgreen;
  transform: translateY(-7px);
}

#homepage {
    margin: auto;
    padding-top: 20px;
    width: fit-content;
    justify-items: center;
}
